#main-log-in {
    display: flex;
    justify-content: center;
    height: 100%;
}
#main-log-in div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20% 0 20% 0;
    width: 350px;
    height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
    border-radius: 5px;
}
#log-in {
    font-size: 20px;
    font-weight: bold;
    margin: 10% 0 15% 0;
}
#form-log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-text-log-in {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.input-text-log-in input {
    border: none;
    border-bottom: solid 1px;
}
.input-checkbox-log-in {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.input-checkbox-log-in {
    cursor: pointer;
}
.input-checkbox-log-in p {
    font-size: 13px;
    margin-left: 5%;
}
.img-login {
    height: 20px;
    width: 20px;
}
.submit-log-in {
    width: 100px;
    height: 30px;
    margin-top: 20%;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}
.submit-log-in:hover {
    cursor: pointer;
    background-color: #e3eae0;
    transition: 0.3s;
}

#reset-password {
    align-self: flex-end;
    margin:20% 5% 0 0;
}
#reset-password:hover {
    cursor: pointer;
}
#reset-password a {
    text-decoration: none;
    color: black;
}
#reset-password a:hover {
    color: rgba(55, 56, 103, 0.4);
}
