<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <script src="../javascript/employee-signup.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src="../assets/menu-hamburguesa.png" alt="Menu">
            <div>
                <h1>Trackgenix</h1>
                <p>We’re Trackgenix SA</p>
            </div>
        </header>
        <aside id="sidebar">
            <div class="line-sidebar"></div>
            <div class="nav">
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="employee-signup.html">Sign Up</a> </li>
                    <li> <a href="login.html">Log In</a> </li>
                </ul>
            </div>
            <div class="line-sidebar"></div>
            <div class="contact">
                <h2>Contact</h2>
                <p>
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus,
                    ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
            </div>
            <div class="information">
                <ul>
                    <img src="../assets/email.png" alt="Email">
                    <li> <a href="#">information@untitled.tld</a> </li>
                    <img src="../assets/phone.png" alt="Phone">
                    <li> <a href="#">Tel.: (000) 000-0000</a> </li>
                    <img src="../assets/house.png" alt="House">
                    <li> <a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a> </li>
                </ul>
            </div>
        </aside>
        <main id="main-sign-up">
            <div>
                <h3 id="sign-up">Sign Up</h3>
                <form id="form-sign-up">
                    <label>
                        <input type="text" placeholder="Nombre" id="fname">
                        <span id="alert-fname"></span>
                        <input type="text" placeholder="Apellido" id="surname">
                        <span id="alert-surname"></span>
                        <input type="text" placeholder="DNI" id="dni">
                        <span id="alert-dni"></span>
                        <input type="text" placeholder="Fecha de nacimiento" id="date">
                        <span id="alert-date"></span>
                        <input type="text" placeholder="Teléfono" id="phone">
                        <span id="alert-phone"></span>
                        <input type="text" placeholder="Dirección" id="address">
                        <span id="alert-address"></span>
                    </label>
                    <label>
                        <input type="text" placeholder="Localidad" id="town">
                        <span id="alert-town"></span>
                        <input type="text" placeholder="Código postal" id="pcode">
                        <span id="alert-pcode"></span>
                        <input type="text" placeholder="Email" id="email">
                        <span id="alert-email"></span>
                        <input type="password" placeholder="Contraseña" id="password">
                        <span id="alert-password"></span>
                        <input type="password" placeholder="Repetir contraseña" id="reppassword">
                        <span id="alert-reppassword"></span>
                    </label>
                </form>
                <input id="agreesignup" type="submit" value="Agree">
            </div>
        </main>
        <footer>
            <p>Rosario, Santa Fe - Argentina</p>
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </footer>
    </body>
</html>