<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src="../assets/menu-hamburguesa.png" alt="Menu">
            <div>
                <h1>Trackgenix</h1> 
                <p>We’re Trackgenix SA</p>
            </div>
        </header>
        <aside id="sidebar">
            <div class="line-sidebar"></div>
            <div class="nav">
                    <ul>
                        <li> <a href="index.html">Home</a> </li>
                        <li> <a href="employee-signup.html">Sign Up</a> </li>
                        <li> <a href="login.html">Log In</a> </li>
                    </ul>
            </div>
            <div class="line-sidebar"></div>
            <div class="contact">
                <h2>Contact</h2>
                    <p>
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus,
                        ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                        Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
            </div>
            <div class="information">
                <ul>
                    <img src="../assets/email.png" alt="Email">
                    <li> <a href="#">information@untitled.tld</a> </li>
                    <img src="../assets/phone.png" alt="Phone">
                    <li> <a href="#">Tel.: (000) 000-0000</a> </li>
                    <img src="../assets/house.png" alt="House">
                    <li> <a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a> </li>
                </ul>
            </div>
        </aside>
        <main>
            <section id="welcome">
                <div id="welcome-titles">
                    <h2>Welcome to Trackgenix.</h2>
                    <h3>The new work system</h3>
                </div>
                <div id="human-resources">    
                    <img src="../assets/imagen-de-recursos-humanos.png" alt="Recuros Humanos">
                    <div>
                        <p>
                            Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue.
                            Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.
                            Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam.
                            Lorem ipsum dolor sit nullam.
                        </p>
                    </div>
                </div>
            </section>
            <div class="line"></div>
            <section id="features">
                <h2>Features</h2>
                    <div class="two-item-container">
                        <div class="item-container">
                            <h3>RECORD OF HOURS</h3>
                            <div class="features-items">
                                <img src="../assets/imagen-reloj.webp" alt="Reloj" id="clock">
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </div>
                        <div class="item-container">
                            <h3>RESOURCE MANAGEMENT</h3>
                            <div class="features-items features-items-reverse">
                                <img src="../assets/gestion-de-recursos-imagen.jpg" alt="Gestion de recursos" id="resource">
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="two-item-container">
                        <div class="item-container">
                            <h3>REPORTS</h3>
                            <div class="features-items">
                                <img src="../assets/imagen-reporte.png" alt="Reporte" id="reports">
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </div>
                        <div class="item-container">
                            <h3>MULTIPLE ROLES</h3>
                            <div class="features-items features-items-reverse">
                                <img src="../assets/imagen-multiples-roles.webp" alt="Multiples roles" id="roles">
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                    Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="line"></div>
            <section id="why-use">
                <div class="border">
                    <h3>PRODUCTIVITY BOOSTER</h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="border">
                    <h3>WORK TRACEABILITY</h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="border">
                    <h3>LEADERSHIP AND TEAM MANAGEMENT</h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="border">
                    <h3>DECISION MAKING</h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
            </section> 
            <div class="line"></div>
            <section id="info-form">
                <h2>Information</h2>
                <div id="form-container">
                    <form>
                        <div id="name-email">
                            <label>NAME & LAST NAME</label>
                            <input type="text" placeholder="Enter your full name">
                            <label>EMAIL</label>
                            <input type="email" placeholder="Enter your email">
                        </div>
                        <h3>CONTACT</h3>
                        <div id="contact">
                            <label class="container">Human Resources
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Sistems
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Commercialization
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="message">
                            <label>MESSAGE</label>
                            <textarea name="message" placeholder="Write your message"></textarea>
                        </div>
                        <input class="submit" type="submit" value="Submit">
                    </form>
                </div>
            </section>
            <div class="line"></div>
            <section id="our-history">
                <h2>OUR HISTORY</h2>
                <p id="bold-p">
                    Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent. Lorem ipsum dolor.
                    Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                </p>
                <p class="normal-p">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent.
                </p> 
                <p class="normal-p">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent. 
                </p>
                <p class="normal-p">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent. 
                </p> 
            </section>
            <div class="line"></div>
            <section id="order-list">
                <div class="three-list">
                    <h3>PRODUCTS</h3>
                    <ul>
                        <li> <a href="#">Funcionalities</a> </li>
                        <li> <a href="#">Downloads</a> </li>
                        <li> <a href="#">Integrations</a> </li>
                        <li> <a href="#">Extras</a> </li>
                    </ul>
                </div>
                <div class="three-list"> 
                    <h3>COMPANY</h3>
                    <ul>
                        <li> <a href="#">About Us</a> </li>
                        <li> <a href="#">Clients</a> </li>
                        <li> <a href="#">Resources</a> </li>
                        <li> <a href="#">Blog</a> </li>
                    </ul>
                </div>
                <div class="three-list">
                    <h3>SUPPORT</h3>
                    <ul>
                        <li> <a href="#">Help</a> </li>
                        <li> <a href="#">Tutorials</a> </li>
                        <li> <a href="#">API</a> </li>
                        <li> <a href="#">Contact</a> </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <p>Rosario, Santa Fe - Argentina</p> 
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </footer>
    </body>
</html>