<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <script src="../javascript/login.js"></script>
        <title>Trackgenix</title>
    </head>

    <body>
        <header>
            <img src="../assets/menu-hamburguesa.png" alt="Menu">
            <div>
                <h1>Trackgenix</h1> 
                <p>We’re Trackgenix SA</p>
            </div>
        </header>

        <aside id="sidebar">
            <div class="line-sidebar"></div>
            <div class="nav">
                    <ul>
                        <li> <a href="index.html">Home</a> </li>
                        <li> <a href="employee-signup.html">Sign Up</a> </li>
                        <li> <a href="login.html">Log In</a> </li>
                    </ul>
            </div>
            <div class="line-sidebar"></div>
            <div class="contact">
                <h2>Contact</h2>
                    <p>
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus,
                        ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                        Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
            </div>
            <div class="information">
                <ul>
                    <img src="../assets/email.png" alt="Email">
                    <li> <a href="#">information@untitled.tld</a> </li>
                    <img src="../assets/phone.png" alt="Phone">
                    <li> <a href="#">Tel.: (000) 000-0000</a> </li>
                    <img src="../assets/house.png" alt="House">
                    <li> <a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a> </li>
                </ul>
            </div>
        </aside>

        <main id="main-log-in">
            <div>
                <h3 id="log-in">Log In</h3>
                <form id="form-log-in">
                    <label class="input-text-log-in">
                        <img class="img-login" src="../assets/logemail.png" alt="Email Log In">
                        <input type="email" placeholder="Email@email.com" id="email">
                    </label>
                    <label class="input-text-log-in">
                        <img class="img-login" src="../assets/padlock.png" alt="Email Log In">
                        <input type="password" placeholder="Password" id="password">
                    </label>
                    <label class="input-checkbox-log-in">
                        <input type="checkbox" checked="checked">
                        <p>Remember me</p>
                    </label>
                    <input class="submit-log-in" type="submit" value="Agree">
                </form>
                <p id="reset-password"> <a href="#">Reset Password</a></p>
            </div>
        </main>

        <footer>
            <p>Rosario, Santa Fe - Argentina</p> 
            <p>Copyright © 2022 Trackgenix SA. All rights reserved.</p>
        </footer>
    </body>
</html>