main {
    padding-top: 100px;
}
/* welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#welcome-titles {
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#welcome-titles h2 {
    margin-bottom: 5%; 
    font-weight: 700;
    font-size: 40px;
    color: #373867;
}
#welcome-titles h3 {
    font-weight: 700;
    font-size: 20px;
    color: #373867;
}
#human-resources {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#human-resources img {
    width: 90%;
    height: auto;
    margin: 50px 0 50px 0;
}
#human-resources div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
#human-resources div p {
    font-style: 700;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #373867;
}

/* features section  */
#features {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#features h2 {
    font-weight: 700;
    font-size: 35px;
    color: #373867;
}
#features .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container .features-items{
    display: flex;
    align-items: center;
}
.item-container .features-items-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
#features h3 {
    margin: 40px;
    font-weight: 700;
    font-size: 22px;
    color: #373867;
}
.features-items p {
    margin: 0 20px 0 20px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #373867;
}
#clock {
    width: 60%;
    height: auto;
    margin: 0 0 0 4%;
}
#resource {
    width: 60%;
    height: auto;
    margin: 0 10% 0 0;
}
#reports {
    width: 50%;
    height: auto;
    margin-left: 8%;
}
#roles {
    width: 70%;
    height: auto;
}

/* why use section  */
#why-use {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#why-use .border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 325px;
    height: 325px;
    margin: 20px;
    padding: 10px;
    border: 5px solid #AACE9B;
}
.border h3 {
    margin: 40px 20px 40px 20px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #AACE9B;
}
.border p {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #373867;
}

/* form section */
#info-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#info-form h2 {
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 35px;
    color: #373867;
}
#form-container {
    width: 80%;
    margin: 0 auto;
}
#name-email {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#name-email label {
    margin: 20px 0 10px 0;
    font-weight: 700;
    font-size: 16px;
    color: #373867;
}
#name-email input {
    width: 100%;
    height: 40px;
    margin: auto;
    background-color: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}
#name-email input:hover {
    border: 2px solid #AACE9B;
}
form h3 {
    margin: 50px 0 10px 0;
    font-weight: 700;
    font-size: 22px;
    color: #373867;
}
#contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#contact label {
    margin: 0px 0px 50px 5px;
    font-weight: 700;
    font-size: 15px;
    color: #373867;
}
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#contact input { 
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} 
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(55, 56, 103, 0.4);
}
.container:hover input ~ .checkmark {
    background-color: gray;
}
.container input:checked ~ .checkmark {
    background-color: #373867;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.message label {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #373867;
}
.message textarea {
    width: 100%;
    height: 150px;
    background: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}
.message textarea:hover {
    border: 2px solid #AACE9B;
}
form .submit {
    width: 150px;
    height: 40px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}
form .submit:hover {
    background-color: #69A362;;
}

/* our history section */
#our-history {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#our-history h2 {
    font-weight: 700;
    font-size: 25px;
    color: #373867;
}
#bold-p {
    margin: 25px 15px 40px 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #373867;
}
#our-history .normal-p {
    margin: 0 25px 25px 25px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #373867;
}

/* order lists section */
#order-list {
    display: flex;
    flex-direction: column;
}
.three-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.three-list h3 {
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 25px;
    color: #AACE9B;
}
.three-list ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.three-list li {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 22px;
    list-style-type: disc;
    color: #373867;
}
.three-list a {
    text-decoration: none;
    color: #373867;
}

/* lines */ 
.line {
    width: 80%;
    margin: 5% auto; 
    border: 5px solid #AACE9B;
}

/* breakpoints */

/* Tablet  */
@media only screen and (min-width: 768px) {
    /* welcome section */
    #welcome-titles {
        width: 80%;
        align-items: flex-start;
    }
    #welcome-titles h2 {
        font-size: 45px;
    }
    #welcome-titles h3 {
        font-size: 30px;
    }
    #human-resources div p {
        font-size: 18px;
    }
    #human-resources {
        flex-direction: row-reverse;
        margin-left: 10%;
    }

    /* features section */
    .two-item-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .item-container .features-items {
        display: flex;
        flex-direction: row;
    }
    .item-container .features-items-reverse {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    #features h2 {
        font-size: 40px;
    }
    #features h3 {
        font-size: 25px;

    }.features-items p {
        font-size: 16px;
    }

    /* why use section */
    .border h3 {
        font-size: 27px;
    }
    .border p {
        font-size: 18px;
    }

    /* form section */
    #info-form h2 {
        font-size: 45px;
    }
    #name-email label {
        font-size: 20px;
    }
    form h3 {
        font-size: 30px;
    }
    #contact label {
        font-size: 20px;
    }
    .message label {
        font-size: 20px;
    }

    /* our history section */
    #our-history h2 {
        font-size: 35px;
    }
    #bold-p {
        font-size: 18px;
    }
    #our-history .normal-p {
        font-size: 18px;
    }

    /* order lists section */
    #order-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .three-list h3 {
        font-size: 35px;
    }
    .three-list li {
        font-size: 27px;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    main {
        padding-left: 15%;
    }
    /* welcome section */
    #welcome-titles {
        width: 90%;
        align-items: flex-start;
    }
    #welcome-titles h2 {
        font-size: 50px;
    }
    #welcome-titles h3 {
        font-size: 35px;
    }
    #human-resources div p {
        font-size: 22px;
    }
    #human-resources {
        flex-direction: row-reverse;
        margin-left: 10%;
    }

    /* features section */
    #features {
        align-items: flex-start;
    }
    #features h2 {
        margin: 0 0 0 10%;
        font-size: 45px;
    }
    .item-container .features-items {
        display: flex;
        flex-direction: row;
    }
    .item-container .features-items-reverse {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    #features h3 {
        font-size: 30px;
    }
    .features-items p {
        font-size: 18px;
    }

    /* why use section */
    .border h3 {
        font-size: 30px;
    }
    .border p {
        font-size: 20px;
    }

    /* form section */
    #info-form h2 {
        font-size: 50px;
    }
    #name-email label {
        font-size: 30px;
    }
    form h3 {
        font-size: 40px;
    }
    #contact label {
        font-size: 25px;
    }
    .message label {
        font-size: 30px;
    }
    form .submit {
        font-size: 25px;
    }

    /* our history section */
    #our-history h2 {
        font-size: 40px;
    }
    #bold-p {
        font-size: 22px;
    }
    #our-history .normal-p {
        font-size: 22px;
    }
}

