@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* header */

body {
    position: relative;
    background-color: #FFF8F8;
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #AACE9B;
    height: 128px;
}

h1 {
    position: absolute;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 85px;
    color: #373867;
}

header p {
    position: absolute;
    right: 20px;
    top: 90px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #69A362;
}

/* aside */

aside {
    position: fixed;
    top: 128px;
    width: 204px;
    height: 100%;
    border-left: 49px solid;
    border-color: #AACE9B;
    background-color: #373867;
}

aside nav a {
    display: block;
    position: relative;
    top: 90px;
    width: 162px;
    height: 42px;
    margin: 0px 21px 35px 21px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}

.contact {
    display: block;
    position: absolute;
    top: 330px;
}

.contact h2 {
    position: relative;
    left: 6px;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
}

.contact p {
    position: relative;
    left: 13px;
    right: 27px;
    width: 164px;
    height: 137px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.information {
    display: block;
    position: absolute;
    top: 560px;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.information a {
    display: block;
    position: relative;
    bottom: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.information img {
    position: relative;
    left: 88px;
    right: 88px;
    bottom: 22px;
}

/* main */

main {
    position: absolute;
    top: 102px;
    left: 302px;
}

/* welcome section */

.welcome h2 {
    position: absolute;
    width: 781px;
    height: 85px;
    left: 15px;
    top: 125px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #373867;
}

.welcome h3 {
    position: absolute;
    left: 15px;
    top: 230px;
    width: 352px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #373867;
}

.welcome p {
    position: absolute;
    width: 484px;
    height: 339px;
    left: 26px;
    top: 400px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

.welcome img {  
    position: absolute;
    width: 680px;
    height: 500px;
    left: 529px;
    top: 300px;
}

/* features section */

.features h2 {
    position: absolute;
    top: 1040px;
    left: 150px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #373867;
}

.features h3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

.features p {
    width: 260px;
    height: 110px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #373867;
}

#record img {
    position: absolute;
    width: 210px;
    height: 198px;
    left: 30px;
    top: 1235px;
}

#record h3 {
    position: absolute;
    left: 250px;
    top: 1225px;
    width: 270px;
}

#record p {
    position: absolute;
    left: 260px;
    top: 1300px;
}

#resource img {
    position: absolute;
    width: 210px;
    height: 138px;
    left: 583px;
    top: 1235px;
}

#resource h3 {
    position: absolute;
    left: 800px;
    top: 1225px;
    width: 370px;
}

#resource p {
    position: absolute;
    left: 838px;
    top: 1300px;
}

#reports img {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 30px;
    top: 1678px;
}

#reports h3 {
    position: absolute;
    left: 300px;
    top: 1674px;
}

#reports p {
    position: absolute;
    left: 260px;
    top: 1745px;
}

#roles img {
    position: absolute;
    width: 210px;
    height: 166px;
    left: 583px;
    top: 1680px;
}

#roles h3 {
    position: absolute;
    left: 838px;
    top: 1674px;
    width: 240px;
}

#roles p {
    position: absolute;
    left: 838px;
    top: 1745px;
}

/* why use? section */

.why-use article {
    position: absolute;
    top: 2120px;
}

.why-use div {
    display: inline-block;
    width: 34%;
}

.why-use h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #AACE9B;
}

.why-use p {
    width: 320px;
    height: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #373867;
}

#productivity h3 {
    padding: 70px 40px 20px 40px;
    width: 390px;
    text-align: center;
}

#productivity p {
    padding: 30px 74px 106px 74px;
}

#work h3 {
    padding: 70px 40px 20px 40px;
    width: 354px;
    text-align: center;
}

#work p {
    padding: 30px 74px 106px 74px;
}

#leadership h3 {
    padding: 70px 40px 20px 40px;
    width: 367px;
    text-align: center;
}

#leadership p {
    padding: 30px 74px 106px 74px;
}

#decision h3 {
    padding: 70px 40px 20px 40px;
    width: 346px;
    text-align: center;
}

#decision p {
    padding: 30px 74px 106px 74px;
}

/* form section */

#form form {
    position: absolute;
    left: 27px;
    top: 3197px;
}

#form h2 {
    position: absolute;
    left: 60px;
    top: 3100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #373867;
}

.name label {
    position: absolute;
    width: 172px;
    height: 32px;
    left: 70px;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #373867;
}

.name input {
    position: absolute;
    width: 1011px;
    height: 59px;
    left: 70px;
    top: 32px;
    background-color: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}

.email label {
    position: absolute;
    width: 61px;
    height: 31px;
    left: 70px;
    top: 170px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #373867;
}

.email input {
    position: absolute;
    width: 1011px;
    height: 59px;
    left: 70px;
    top: 200px;
    background-color: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}

form h3 {
    position: absolute;
    width: 97px;
    height: 29px;
    left: 70px;
    top: -220px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #373867;
}

#contact label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #373867;
}

/* The container */
.container-hr {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-s {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-c {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Hide the browser's default checkbox */
#contact input { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(55, 56, 103, 0.4);
}

.container-hr {
    position: absolute;
    top: -180px;
    left: 65px;
    width: 150px;
}

.container-s {
    position: absolute;
    top: -180px;
    left: 450px;
    width: 150px;
}

.container-c {
    position: absolute;
    top: -180px;
    left: 800px;
    width: 150px;
}

.message label {
    position: absolute;
    height: 32px;
    left: 70px;
    top: 470px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #373867;
}

.message textarea {
    position: absolute;
    width: 1011px;
    height: 315px;
    left: 70px;
    top: 500px;
    background: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}

form .submit {
    position: absolute;
    width: 162px;
    height: 42px;
    top: 860px;
    left: 929px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #373867;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}

#contact {
    display: block;
    position: absolute;
    top: 555px;
}

/* history section */

#our-history h2 {
position: absolute;
width: 744px;
height: 107px;
left: 170px;
top: 4230px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 87px;
text-align: center;
color: #373867;
}

#our-history .p1 {
    position: absolute;
    width: 1163px;
    height: 147px;
    left: 0px;
    top: 4360px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #373867;
}

#our-history .p2 {
    position: absolute;
    width: 1015px;
    height: 484px;
    left: 90px;
    top: 4550px;;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #373867;
}

#our-history .p3 {
    position: absolute;
    width: 1015px;
    height: 484px;
    left: 90px;
    top: 4670px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #373867;;
}

#our-history .p4 {
    position: absolute;
    width: 1015px;
    height: 484px;
    left: 90px;
    top: 4795px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #373867;
}
