@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* header */

body {
    position: relative;
    background-color: #FFF8F8;
}

/* header */

header {
    background-color: #AACE9B;
    height: 128px;
    position: sticky;
    top: 0;
}

h1 {
    position: absolute;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 85px;
    color: #373867;
}

header p {
    position: absolute;
    right: 20px;
    top: 90px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #69A362;
}

/* aside */

aside {
    position: fixed;
    left: 0px;
    top: 128px;
    width: 204px;
    height: 100%;
    border-left: 49px solid;
    border-color: #AACE9B;
    background-color: #373867;
}

aside nav a {
    display: block;
    position: relative;
    top: 248px;
    width: 162px;
    height: 42px;
    margin: 0px 21px 35px 21px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}

.contact {
    display: block;
    position: absolute;
    top: 565px;
}

.contact h2 {
    position: relative;
    left: 6px;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
}

.contact p {
    position: relative;
    left: 13px;
    right: 27px;
    width: 164px;
    height: 137px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.information {
    display: block;
    position: absolute;
    top: 820px;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

/*
.information img {
    width: 27px;
    height: 27px;
}
*/

.information a {
    /*
    width: 175px;
    height: 32px;
    */
    display: block;
    position: relative;
    bottom: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.information img {
    position: relative;
    left: 88px;
    right: 88px;
    bottom: 22px;
}

