/* welcome section */

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome h2 {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #373867;
}
#welcome h3 {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #373867;
}

#welcome img {
    width: 500px;
    height: 300px;
    margin: 50px;
}

#human-resources {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#human-resources p {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: 700;
    font-weight: 400;
    font-size: 16px;
    color: #373867;
}

/* features section  */

#features {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#features h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #373867;
}

#features .features-items {
    display: flex;
    align-items: center;
}

#features .features-items-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#features h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 40px;
    font-weight: 700;
    font-size: 25px;
    color: #373867;
}

.features-items p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #373867;
}

.features-items-reverse p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #373867;
}

#clock {
    width: 150px;
    height: 150px;
}

#resource {
    width: 150px;
    height: 100px;
    margin: 20px;
}

#reports {
    width: 100px;
    height: 100px;
    margin: 20px;
}

#roles {
    width: 150px;
    height: 100px;
}

/* why use section  */

#why-use {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#why-use .border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 325px;
    height: 325px;
    margin: 20px;
    padding: 10px;
    border: 5px solid #AACE9B;
}

.border h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 40px 20px 40px 20px;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #AACE9B;
}

.border p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #373867;
}

/* form section */

#info-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#info-form h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0 0 40px 0;
    font-weight: 700;
    font-size: 35px;
    color: #373867;
}

#form-container {
    width: 80%;
    margin: 0 auto;
}

#name-email {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#name-email label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 20px 0 10px 0;
    font-weight: 700;
    font-size: 16px;
    color: #373867;
}

#name-email input {
    width: 100%;
    height: 35px;
    margin: auto;
    background-color: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}

#name-email input:hover {
    border: 2px solid #AACE9B;
}

form h3 {
    margin: 50px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #373867;
}

#contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact label {
    margin: 0px 0px 50px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #373867;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contact input { 
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} 

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(55, 56, 103, 0.4);
}

.container:hover input ~ .checkmark {
    background-color: gray;
}

.container input:checked ~ .checkmark {
    background-color: #373867;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #373867;
}

.message textarea {
    width: 100%;
    height: 150px;
    background: rgba(55, 56, 103, 0.4);
    border-radius: 20px;
}

.message textarea:hover {
    border: 2px solid #AACE9B;
}

form .submit {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 150px;
    height: 40px;
    margin: 10px 0 0 0;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}

form .submit:hover {
    background-color: #69A362;;
}

/* our history section */

#our-history {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#our-history h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #373867;
}

#bold-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 25px 15px 40px 15px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #373867;
}

#our-history .normal-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0 25px 25px 25px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #373867;
}

/* order lists section */

#order-list {
    display: flex;
    flex-direction: column;
}

.three-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.three-list h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 40px;
    color: #AACE9B;
}

.three-list ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.three-list li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 25px;
    list-style-type: disc;
    color: #373867;
}

.three-list a {
    text-decoration: none;
    color: #373867;
}

